Linkerd with gRPC. For tracking purposes

I thought instead of uploading this wall of text to slack, I'd rather place an issue. This way it is easier to follow, and not plague a wall with something that may well be a me issue.

## Background
I've been attempting to get grpc as a basic version working with linkerd. However with a caveat of the language being in csharp (dotnet core) and not in golang. 
Prior to this morning requests were not going down to the respective gRPC server at all. After using the nightly build this morning and A lot of assistance from @olix0r I've been able to call down to the server. However the server doesn't seem to be responding correctly to these requests. And linkerd is showing the server is 100% fail rate.

## Current status

### Exception
The exception I get back is `Status(StatusCode=Cancelled, Detail="Received http2 header with status: 502")`

### Linkerd logs
I've taken some logs of linkerd with `-log.level=DEBUG` as suggested from @olix0r. So attached are logs from linkerd. I've uploaded full logs of linkerd showing all the objects it ties up on start. As well as just the logs after server is up and running and errors are coming through. In full logs the server is up at line 121, and first call and error at line 122. Logs is just from after 122. I also have a grab of the admin page (if this helps at all)

### Zipkin logs
I've also attached zipkin prior to trace the calls, to understand where the messages were going in the network. I've therefore also been able to pull some details from zipkin about the call going to the server I'm attempting to call the gRPC server. These logs are attached in the form of a screen grab of one call.


## Gob grpc works
The Gob grpc branch run file with gRPC. I tried to copy the linkerd.yml files as close as possible (basically all but Dtab) and it still doesn't work on my poc. But is working fine.

## Files
![linkerd_admin](https://cloud.githubusercontent.com/assets/5417687/20793775/6d1968ea-b7d1-11e6-840c-e7d40711da30.png)
![zipkin-call](https://cloud.githubusercontent.com/assets/5417687/20793776/6d19815e-b7d1-11e6-84f0-0df45a35222c.png)
[fullLog.txt](https://github.com/BuoyantIO/linkerd/files/624522/fullLog.txt)
[log.txt](https://github.com/BuoyantIO/linkerd/files/624523/log.txt)

## Misc
* Server does work with using both streams and unary response. If I call to the ip address and port that linkerd resolves to.
* If required I can throw the server and client onto docker-hub to be able to pull. Though right now I don't know if that would be needed?
* I'm going to create a go server to see if it could be something slightly different between what the c library expects vs the go library. `used gob word to call into see bottom`
(watch this space, i'll get it to work in go, and file the glaring issue in the cs server)
  * Also toying with the idea of swapping out the gen service with a csharp version and seeing if calls go through. `done see bottom`

*Edit*
## CS Server, golang client
so I created a word service in csharp that fails every time as well.
Warning!! code doesn't look nearly as good as scala or golang.
```
private static int port = 8282;

        public static void Main(string[] args)
        {
            var srv = new Server {Services = {WordSvc.BindService(new WordService())}, Ports = { new ServerPort("*", port, ServerCredentials.Insecure)}};
            srv.Start();
            Console.Read();
            srv.ShutdownAsync().Wait();
        }

        public class WordService : WordSvc.WordSvcBase
        {
            private string[] words = {"csBanana", "csAnt", "csInsect"};

            private string GetRandom => words[new Random().Next(words.Length)];

            public override Task<WordResponse> GetWord(WordRequest request, ServerCallContext context)
            {
                return Task.FromResult(new WordResponse() {Word = GetRandom});
            }
        }
```
This has led me to beleive, either I'm making a large mistake over and over again in 20 lines of code. Or there is something strangely different with how the C wapped gRPC and golang Grpc handle incomming requests?

## CS Client, golang server
I then used gob -> word as a server, and called into it using a basic csharp client
```
var svc = new WordSvc.WordSvcClient(new Channel("localhost", 4142, ChannelCredentials.Insecure));
var repl =svc.GetWord(new WordRequest());
Console.WriteLine(repl.Word);
```

This worked exactly as expected

Thanks for the detailed, reproducible report.  It made it much easier to track this down.

The problem is caused by linkerd's stripping of the `TE` header.  the gRPC protocol uses a header value of `TE: trailers` to inform endpoints that they must support trailers.  linkerd stripped out this header, as it was considered to be a connection-specific header. From [RFC 7540 §8.1.2.2](https://tools.ietf.org/html/rfc7540#section-8.1.2.2):

> HTTP/2 does not use the Connection header field to indicate connection-specific header fields; in this protocol, connection-specific metadata is conveyed by other means. An endpoint MUST NOT generate an HTTP/2 message containing connection-specific header fields; any message containing connection-specific header fields MUST be treated as malformed (Section 8.1.2.6).
> 
> The only exception to this is the TE header field, which MAY be present in an HTTP/2 request; when it is, it MUST NOT contain any value other than "trailers".
> 
> This means that an intermediary transforming an HTTP/1.x message to HTTP/2 will need to remove any header fields nominated by the Connection header field, along with the Connection header field itself. Such intermediaries SHOULD also remove other connection-specific header fields, such as Keep-Alive, Proxy-Connection, Transfer-Encoding, and Upgrade, even if they are not nominated by the Connection header field.

So, linkerd _almost_ does the right thing.  But it needs to preserve the the `TE: trailers` header for C++ gRPC servers.

Fix tracked here: https://github.com/BuoyantIO/linkerd/issues/833

Please open a new issue if any additional problems are encountered. Thanks!